.row2_main {
    max-width: 100vw;
    min-height: 48vw;
    background-color: #F8F9FC;
    font-family: poppinsregular, sans-serif;
    color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row2_main > h2 {
    font-size: 36px;
    max-width: 55%;
    max-height: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.row2_main > h4 {
    font-size: 20px;
    max-width: 42%;
    color: rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    flex-grow: 1;
}

.row2_main > h3 {
    margin-bottom: 70px;
    font-size: 35px;
}
