.row6_main {
    max-width: 100vw;
    min-height: 35vw;
    background-color: white;
    font-family: poppinsregular, sans-serif;
    color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.row6_main > p {
    color: black;
    font-size: 50px;
}

